h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: cornflowerblue;
}
h1 {
  cursor: pointer;
}
.snapshot-info {
  min-height: 420px;
  flex-basis: 50%;
}
    @media screen and (max-width: 992px) {
      .snapshot-info {
        min-height: initial;
        flex-basis: initial;
        margin: 0 20px;
      }
    }
.snapshot-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 28px;
}
.snapshot-content-category {
  font-size: 20px;
  font-weight: 600;
}
.snapshot-on-the-fly {
  color: cornflowerblue;
  font-weight: 200;
}