.tooltip-wrapper,
.tooltip-icon-wrapper {
  position: absolute;
  cursor: pointer;
}
.tooltip {
  position: absolute;
  top: 0;
  max-width: 150px;
  font-size: 11px;
  font-weight: 500;
  left: 10px;
  padding: 0 5px;
  border: cornflowerblue solid 2px;
  border-radius: 3px;
  background: seashell;
}